.rotate-90 {
    transform: rotate(90deg); /* Rotates the image 90 degrees */
    width: 70%;
    padding: 150px; /* Adjust as needed */
    position: relative; /* Positioning context for the absolutely positioned image */
    overflow: hidden; /* Prevents the rotated image from overflowing outside the container */
  }